{{!-- {{#each posts as |post|}} --}}
  <div>
    <div class="postBox">
      <div class="postTitle"><h3>{{post.title}}</h1><h9>Posted by
          {{post.user.username}}
          on
          {{format_date createdAt}}</h9></div>
      <div><p>{{post.body}}</p></div>
    </div>
  </div>
{{!-- {{/each}} --}}

<div id="form">
  <h1>Add Comment</h1>
  <form action="/api/posts/createNewComment" method="post">
    <h3>Comment</h3>
    <input class="inputBox" id="contentBox" name="body" type="text" />
    <input type="submit" />
  </form>
</div>