<div id="form">
  <h1>Create New Post</h1>
  <form action="/api/users/createNewPost" method="post">
    <h3>Title</h3>
    <input class="inputBox" name="title" type="text" />
    <h3>Content</h3>
    <input class="inputBox" id="contentBox" name="body" type="text" />
    <input type="submit" />
  </form>
</div>