{{!-- <h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">username:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form> --}}

<div id="signup">
  <h1>Login</h1>

  <form action="/api/users/login" method="post" >
    <h3>Username</h3>
    <input name="username" type="text" />
    <h3>Password</h3>
    <input name="password" type="password" />
    <input type="submit" />
  </form>
  
  <a href="/signup">Signup instead</a>
</div>

{{!-- <script src="/js/login.js"></script> --}}