<div id="form">
  <h1>Login</h1>
  <form action="/api/users/login" method="post">
    <h3>Username</h3>
    <input name="username" type="text" />
    <h3>Password</h3>
    <input name="password" type="password" />
    <input type="submit" />
  </form>
  <a href="/signup">Signup instead</a>
</div>